{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SAEMO</h1>
    <p class="lead">SAEMO je zdieľaná amatérska opensource verejná interferometrická apertúra -> VLBI prístupná pre KAŽDÉHO.</p>
    <p><a href="https://github.com/jazex007/SAEMO.git" class="btn btn-primary btn-large"> CHCEM VEDIEŤ VIAC &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vytváranie vlastného pozorovania</h2>
        <p>
            SAEMO umožnuje komukoľvek vytvárať vlastné rádio-astronomické pozorovania s celou zdieľanou apertúrou.
        </p>
        <p><a class="btn btn-default" href="https://github.com/jazex007/SAEMO/blob/main/PODMIENKY%20VYU%C5%BD%C3%8DVANIA%20SAEMO">CHCEM VEDIEŤ VIAC &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tvorba vlastného prijímača</h2>
        <p>Pravideľne sú zverejňované nové návody, návrhy a vylepšenia.</p>
        <p><a class="btn btn-default" href="https://github.com/jazex007/SAEMO/blob/main/TVORBA%20PRIJ%C3%8DMA%C4%8CA">CHCEM VEDIEŤ VIAC &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>VLBI</h2>
        <p>Meranie prekryvu vĺn s výsokými priestorovými kmitočtami.</p>
        <p><a class="btn btn-default" href="https://github.com/jazex007/SAEMO/blob/main/VLBI">CHCEM VEDIEŤ VIAC &raquo;</a></p>
    </div>
</div>

{% endblock %}
