<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>

    <link rel="stylesheet" href="/static/content/bootstrap.css" />
    <link rel="stylesheet" href="/static/content/site.css" />
</head>

<body>

    <!-- TOP NAVBAR -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    NÁRODNÉ ÚLOŽISKO MIMOZEMSKÝCH TELIES
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('NÚMT') }}">NÚMT</a></li>
                    <li><a href="{{ url_for('home') }}">SAEMO</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- MAIN LAYOUT -->
    <div class="container-fluid main-container">
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url_for('NÚMT_search') }}">Vyhľadávanie</a></li>
                    <li><a href="{{ url_for('RESULT_description') }}">POPIS</a></li>
                    <li><a href="{{ url_for('RESULT_parameters') }}">VLASTNOSTI</a></li>
                    <li><a href="{{ url_for('RESULT_measurements') }}">MERANIA</a></li>
                </ul>
            </div>

            <!-- PAGE CONTENT -->
            <div class="col-sm-9 col-md-10 content-area">
                {% block content %}{% endblock %}

                <hr />
                <footer>
                    <p>&copy; {{ year }} - My Flask Application</p>
                </footer>
            </div>

        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>

    {% block scripts %}{% endblock %}

</body>
</html>