{% extends "NÚMT_layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>NÚMT</h1>
    <p class="lead">NÚMT slúži ako verejné slovenské úložisko meraní,popisov a výsledkov výskumov mimozemských telies.</p>
    <p><a href="https://github.com/jazex007/SAEMO.git" class="btn btn-primary btn-large"> CHCEM VEDIEŤ VIAC &raquo;</a></p>
    <p><a href="https://github.com/jazex007/SAEMO.git" class="btn btn-primary btn-large"> AKO ZVEREJŇOVAŤ A UCHOVÁVAŤ V NÚMT ? &raquo;</a></p>

</div>


{% endblock %}
